<!DOCTYPE html>
<html>
<title>neko\o/</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-card-4 w3-center">
<div class="w3-container w3-card-4 w3-center w3-deep-purple"  >
  <h1>Nekos \o/</h1>
</div>

<div class="w3-container w3-card-4 w3-center w3-purple" >
<img src="{{ img_url }}" alt="neko" class="w3-image w3-card-4" >
</div>

<div class="w3-container w3-card-4 w3-center w3-deep-purple">
  <p>Made By Tom with love💖</p>
    <br>
</div>
</div>
</body>
</html>
