<!DOCTYPE html>
<html>
<title>lewd nekos o.o</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-card-4 w3-center">
<div class="w3-container w3-card-4 w3-center w3-deep-purple"  >
  <h1>Nekos \o/</h1>
     <button class="w3-card-4 w3-button w3-section w3-blue w3-ripple w3-right " style="margin-right: 15px"><a
            href="{{ url_for('lewdnekos') }}">API!</a></button>
    <button class="w3-card-4 w3-button w3-section w3-blue w3-ripple w3-right " style="margin-right: 15px"><a
            href="https://discord.gg/BARzYz8">Discord!</a></button>
    <button class="w3-card-4 w3-button w3-section w3-blue w3-ripple w3-right " style="margin-right: 15px"><a
            href="https://discordapp.com/oauth2/authorize?client_id=334186716770598912&scope=bot&permissions=16384">Discord bot!</a></button>
    <button class="w3-card-4 w3-button w3-section w3-blue w3-ripple w3-right " style="margin-right: 15px"><a
            href="{{ url_for('neko') }}">Nekos!</a></button>
</div>

</div>

<div class="w3-container w3-card-4 w3-center w3-purple" >
<img src="{{ img_url }}" alt="neko" class="w3-image w3-card-4" >
</div>

<div class="w3-container w3-card-4 w3-center w3-deep-purple">
  <p>Made By Tom with love💖</p>
    <br>
</div>
</div>
</body>
</html>
